{% extends 'base.html' %}

{% block title %}CREATe{% endblock %}
{% block description %}Data visualizations for academic copyright studies.{% endblock %}

{% block content %}

<div class="ui large attached stackable menu">
    <div class="ui container">
        <a href="/" class="header item">
            <div class="image">
                <img src="{{ url_for('static', filename='img/logo.jpg') }}" width="100px" height="30px">
            </div>
        </a>
        <a href="http://www.copyrightevidence.org/evidence-wiki/index.php" class="item"><i class="book icon"></i>wiki</a>
        <a href="/about" class="item"><i class="info circle icon"></i>about</a>
        <a href="https://www.github.com/Garee/CREATe" class="item"><i class="info github icon"></i>source</a>        
        <div class="right menu">
            <div class="item">
                <div class="ui icon input">
                    <input type="text" placeholder="Search...">
                    <i class="search icon"></i>
                </div>
            </div>
            <div class="item"></div>
        </div>
    </div>
</div>

<div class="ui container" style="margin-top: 30px">
    <div class="ui stackable three column grid">
        <div class="row">
        <div class="column">
            <div class="ui blue card">
                <a class="image" href="/cloud">
                    <img src="{{ url_for('static', filename='img/cloud.png') }}">
                </>
                <div class="content">
                    <a class="header">Abstract Cloud</a>
                    <div class="meta">
                        <span class="date">14 May 2016</span>
                    </div>
                    <div class="description">
                        Word frequency in study abstracts.
                    </div>
                </div>
            </div>
        </div>

        <div class="column">
            <div class="ui red card">
                <a class="image" href="#">
                    <img src="{{ url_for('static', filename='img/trulia.png') }}">
                </a>
                <div class="content">
                    <a class="header">Heading #2</a>
                    <div class="meta">
                        <span class="date">Metadata.</span>
                    </div>
                    <div class="description">
                        A description of what is shown.
                    </div>
                </div>
            </div>
        </div>

        <div class="column">
            <div class="ui green card">
                <a class="image" href="#">
                    <img src="{{ url_for('static', filename='img/chord.png') }}">
                </a>
                <div class="content">
                    <a class="header">Heading #3</a>
                    <div class="meta">
                        <span class="date">Metadata</span>
                    </div>
                    <div class="description">
                        A description of what is shown.
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="column">
            <div class="ui violet card">
                <a class="image" href="#">
                    <img src="{{ url_for('static', filename='img/veroni.png') }}">
                </a>
                <div class="content">
                    <a class="header">Heading #4</a>
                    <div class="meta">
                        <span class="date">Metadata</span>
                    </div>
                    <div class="description">
                        A description of what is shown.
                    </div>
                </div>
            </div>
        </div>

        <div class="column">
            <div class="ui teal card">
                <a class="image" href="#">
                    <img src="{{ url_for('static', filename='img/bundling.png') }}">
                </a>
                <div class="content">
                    <a class="header">Heading #5</a>
                    <div class="meta">
                        <span class="date">Metadata</span>
                    </div>
                    <div class="description">
                        A description of what is shown.
                    </div>
                </div>
            </div>
        </div>

        <div class="column">
            <div class="ui orange card">
                <a class="image" href="#">
                    <img src="{{ url_for('static', filename='img/bubble.png') }}">
                </a>
                <div class="content">
                    <a class="header">Heading #6</a>
                    <div class="meta">
                        <span class="date">Metadata</span>
                    </div>
                    <div class="description">
                        A description of what is shown.
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block js %}        
<script src="//code.jquery.com/jquery-2.2.3.min.js"></script>
<script>window.jQuery || document.write("<script src=\"{{ url_for('static', filename='js/jquery-2.2.3.min.js') }}\"><\/script>")</script>
<script src="{{ url_for('static', filename='js/semantic.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/create.js') }}"></script>
{% endblock %}
